body{
	background-color: #e5e5e5;
}
.nav-extended{
	background-image: url("img/capa.jpg");
	background-size: cover;
	background-blend-mode: soft-light;
}

nav ul li.active, nav-content.active{
	border-bottom: solid 3px white;
	background-color: transparent;
}

.nav-header h1{
	text-shadow: 2px 2px 10px black;
}